<!--The content below is only a placeholder and can be replaced.-->
<button (click)="employeeDisplaySet()" type="button" name="button" id="patron">Toggle Patron or Employee View</button>
<div *ngIf="employeeDisplay">
  <h2>Here are some links to help you start: </h2>

  <table style="width:100%">
    <tr>
      <th>Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Alcohol</th>
      <th>Pints</th>
    </tr>
    <tr *ngFor="let singleKeg of kegs">
      <td><input [(ngModel)]="singleKeg.name" type="text" name="name"></td>
      <td><input [(ngModel)]="singleKeg.brand" type="text" name="brand"></td>
      <td><input [(ngModel)]="singleKeg.price" type="text" name="price"></td>
      <td><input [(ngModel)]="singleKeg.alcoholContent" type="text" name="alcoholContent"></td>
      <td><input [(ngModel)]="singleKeg.pints" type="text" name="pints"></td>
      <td><button (click)="removeKeg(singleKeg)" type="button" name="button">Remove</button></td>
      <td><button (click)="serve(singleKeg)" type="button" name="button">Serve</button></td>
    </tr>
  </table>

  <button (click)="toggleEdit()" type="button" name="button">Add a new keg</button>
  <div *ngIf="editingKeg">
    <input [(ngModel)]="name" type="text" name="name">
    <input [(ngModel)]="brand" type="text" name="brand">
    <input [(ngModel)]="price" type="text" name="price">
    <input [(ngModel)]="alcoholContent" type="text" name="alcoholContent">
    <button (click)=addKeg() type="button" name="button">Add me</button>
  </div>
  <ul>
    <p>Pints to refill:</p><div *ngFor="let singleKeg of kegs">  <li *ngIf="underTen(singleKeg)">{{singleKeg.name}}</li></div>
  </ul>
</div>
<div *ngIf="!employeeDisplay">
  <p>hey</p>

</div>
