<!--The content below is only a placeholder and can be replaced.-->
<button (click)="employeeDisplaySet()" type="button" name="button" id="patron">Toggle Patron or Employee View</button>
<div *ngIf="employeeDisplay">
<div id="intro">Welcome to KombuchaVille </div>
  <table style="width:100%">
    <tr>
      <th align="left">Name</th>
      <th align="left">Brand</th>
      <th align="left">Price</th>
      <th align="left">Alcohol</th>
      <th align="left">Pints</th>
      <th align="left">Reorder</th>
    </tr>
    <tr *ngFor="let singleKeg of kegs">
      <td><input [(ngModel)]="singleKeg.name" type="text" name="name"></td>
      <td><input [(ngModel)]="singleKeg.brand" type="text" name="brand"></td>
      <td><input [(ngModel)]="singleKeg.price" type="text" name="price"></td>
      <td><input [(ngModel)]="singleKeg.alcoholContent" type="text" name="alcoholContent"></td>
      <td><input [(ngModel)]="singleKeg.pints" type="text" name="pints"></td>
      <td><input [(ngModel)]="singleKeg.reorder" type="text" name="pints"></td>
      <td><button (click)="removeKeg(singleKeg)" type="button" name="button">Remove</button></td>
      <td><button (click)="serve(singleKeg)" type="button" name="button">Serve</button></td>
    </tr>
  </table>
</div>

  <div *ngIf="!employeeDisplay">
      <div id="kegDisplay" *ngFor="let singleKeg of kegs | slice:carouselStart:carouselStart+3">
        <h4>{{singleKeg.name}}</h4>
        <p><em>~{{singleKeg.brand}}~</em></p>
        <p>${{singleKeg.price}}</p>
        <p>{{singleKeg.price}}% Alcohol</p>
      </div>
      <app-carousel></app-carousel>
  </div>
  <app-new-keg (clickSender)="addKeg($event)"></app-new-keg>
  <hr>
  <app-the-list [childKegs]="kegs"></app-the-list>
  <hr>
  <app-edit-keg [childKegs]="kegs" (clickSenderLog)="consoleLogEvent($event)"></app-edit-keg>

  <!-- <ul>
    <p>Pints to refill:</p><div *ngFor="let singleKeg of kegs">  <li *ngIf="underTen(singleKeg)">{{singleKeg.name}}</li></div>
  </ul>
</div> -->
<!-- <button (click)="turnCarousel()" type="button" name="button">Next</button>

<app-carousel></app-carousel> -->
