input {
  width: 100px;
}

#patron {
  float: right
}

#employee {
  float: right
}

#kegDisplay {
  border: black solid 1px;
  width: 140px;
  text-align: center;
}

#intro {
  border: #D2691E solid 1px;
  padding: 20px;
  margin: 20px;
  background: #F4A460;
  border-radius: 10px;
  width: 250px;
}
