<!--The content below is only a placeholder and can be replaced.-->
<h2>Here are some links to help you start: </h2>

<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Brand</th>
    <th>Price</th>
    <th>Alcohol</th>
    <th>Pints</th>
  </tr>
  <tr *ngFor="let singleKeg of kegs">
    <td><input [(ngModel)]="singleKeg.name" type="text" name="name"></td>
    <td><input [(ngModel)]="singleKeg.brand" type="text" name="brand"></td>
    <td><input [(ngModel)]="singleKeg.price" type="text" name="price"></td>
    <td><input [(ngModel)]="singleKeg.alcoholContent" type="text" name="alcoholContent"></td>
    <td><input [(ngModel)]="singleKeg.pints" type="text" name="pints"></td>
    <td><button type="button" name="button">look here</button></td>
  </tr>
</table>

<p>Add a new keg</p>
<input [(ngModel)]="name" type="text" name="name">
<input [(ngModel)]="brand" type="text" name="brand">
<input [(ngModel)]="price" type="text" name="price">
<input [(ngModel)]="alcoholContent" type="text" name="alcoholContent">
<button (click)=addKeg() type="button" name="button">Add me</button>
