input {
  width: 100px;
}

#patron {
  float: right
}

#employee {
  float: right
}

#kegDisplay {
  border: black solid 1px;
  width: 140px;
  text-align: center;
}
/*
body {
  background-color: yellow;
}*/
