body {
  background-image: url("./assets/kombucha.jpg");
  /*background-repeat: no-repeat;*/
  background-size: auto;
}

button {
  background: #DAA520;
  border-radius: 8px;
  height: 30px;
  border-color: #8B4513;
}

input {
  height: 30px;
  border-radius: 8px;
}
